html{
	
	font-family: 'Pacifico', cursive;/* this font is appled to the full page*/
	font-size: 10px;/* px means pixels*/
	background-color:#00539F;
}

h1{	
	font-size: 60px;
	text-align: center;	
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black;	
	margin:0px 0px 20px 0px;
	background-color: pink;
}

p,li{
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body{
	width: 100%;
	margin: 0px 0px 0px 0px;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

img{
	display: block;
	margin: 0 auto;
}